<div class="container">
  <h1>Nueva Materia</h1>

  <button [routerLink]="['/materias']" class="btn btn-outline-danger">Volver</button>
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="createMateria(materia)" #forma="ngForm">
        <div class="form-group">
          <label for=""></label>
          <input  [(ngModel)]="materia.name" name="name" type="text" class="form-control" placeholder="Nombre" required>
        </div>
        <div class="form-group">
          <label for=""></label>
          <input  [(ngModel)]="materia.code" name="code" type="text" class="form-control" placeholder="Codigo" required>
        </div>
        <div class="form-group">
          <select class="custom-select" [(ngModel)]="materia.period" name="period" >
            <option selected> Elige una opción...</option>
            <option value="Anual">Anual</option>
            <option value="Cuatrimestral">Cuatrimestral</option>
          </select>
        </div>
        <div class="form-group">
          <select class="custom-select" [(ngModel)]="materia.grade_id" name="grade_id" >
            <option *ngFor="let nivel of niveles" value= {{nivel.id}}>
               {{nivel.level}} : {{ nivel.school_year.year}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>