<div class="page-title">
  <h4 class="text-center">Niveles</h4>
</div>
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="thead">
            <tr>
              <th class="text-center" scope="col">#</th>
              <th class="text-center" scope="col">Nivel</th>
              <th class="text-center" scope="col">Ciclo Lectivo</th>
              <th class="text-center" scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nivel of niveles | keys; let i = index">
              <th class="text-center"  scope="row">{{i + 1}}</th>
              <td class="text-center" >{{ niveles[nivel].level }}</td>
              <td class="text-center" >{{niveles[nivel].school_year.year}}</td>
              <td class="text-right">
                <button [routerLink]="['/ciclo-lectivo', k]" class="btn btn-outline-primary">Editar</button>
                <button (click)="deleteCl(k)" class="btn btn-outline-danger">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="(niveles | keys).length === 0 && !loading" class="alert alert-info" role="alert">
          <strong>No hay registros que mostrar</strong>
        </div>
        <div *ngIf="loading" class="alert alert-warning">
          <strong>Cargando, por favor espere...</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-right">
      <button [routerLink]="['/nivel','new']" class="btn btn-outline-primary btn-block puntero" type="button" name="button"> Agregar nuevo</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>