<div class="page-title">
  <h4 class="text-center">Nuevo nivel</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-box">
        <form (ngSubmit)="createNivel(nivel)" #forma="ngForm">
          <div class="form-group">
            <label for=""></label>
            <input  [(ngModel)]="nivel.level" name="year" type="number" class="form-control" placeholder="Nivel" required>
          </div>
          <div class="form-group"> 
            <select class="custom-select form-control" [(ngModel)]="nivel.school_year_id" name="school_year_id" >
              <option [ngValue]="undefined" disabled  selected>Seleccione un ciclo lectivo</option>
              <option *ngFor="let cl of cls" value= {{cl.id}}>
                 {{cl.year}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <div class="text-center">
              <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary puntero">Guardar Cambios</button>
              <span class="separator"></span>
              <button [routerLink]="['/niveles']" class="btn btn-outline-danger puntero">Volver</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
