<div class="container">
  <div class="row">
    <div class="div text-center monthName">
      <span class="fa fa-chevron-left" (click)="previousMonth()"></span>
      <span class="month">{{date.format('MMMM')}}</span>
      <span class="fa fa-chevron-right" (click)="nextMonth()"></span>
    </div>
  </div>
  <div class="row">
    <div class="calendar">
      <div class=" flex-center">
        <div class="flex-calendar">
          <div class="weekDay calendar-days flex-container flex-center"><p class="dayText">L</p></div>
          <div class="weekDay calendar-days flex-container flex-center"><p class="dayText">M</p></div>
          <div class="weekDay calendar-days flex-container flex-center"><p class="dayText">M</p></div>
          <div class="weekDay calendar-days flex-container flex-center"><p class="dayText">J</p></div>
          <div class="weekDay calendar-days flex-container flex-center"><p class="dayText">V</p></div>
          <div class="weekDay calendar-days flex-container flex-center"><p class="dayText">S</p></div>
          <div class="weekDay calendar-days flex-container flex-center"><p class="dayText">D</p></div>
        </div>
      </div>
      <div class="flex-calendar flex-wrap">
        <div *ngFor="let day of daysArr">
          <div class="calendar-days" [ngClass]="{'inactive': !day, 'today': todayCheck(day), 'selectedDay': isSelected(day) }" (click)="selectedDate(day)"><p class="dayText">{{day?.date()}}</p></div>
        </div>
      </div>
    </div>
    <div>
      <p>{{selectedDaysArr}}</p>
    </div>
  </div>
</div>