<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-box">
        <form (ngSubmit)="createHorario(horario)" #forma="ngForm">
          <h1 class="text-center">Nuevo Horario</h1>
          <br>
          <div class="form-group">
            <input class="form-control" [(ngModel)]="horario.course_id" name="course_id" type="hidden" value="{{course_id}}">
          </div>
          <div class="form-group">
            <select class="custom-select form-control" [(ngModel)]="horario.subject_id" name="subject_id" >
              <option *ngFor="let  materia of materias" value= {{materia.id}}>
                 {{materia.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <select class="custom-select form-control" [(ngModel)]="horario.day" name="day" >
              <option selected> Elige una opción...</option>
              <option value="Lunes">Lunes</option>
              <option value="Martes">Martes</option>
              <option value="Miercoles">Miercoles</option>
              <option value="Jueves">Jueves</option>
              <option value="Viernes">Viernes</option>
            </select>
          </div>
          <br>
          <button type="button" (click)="getHourInit()"> Hora de inicio</button>
            <input [(ngModel)]="horario.hour_init"  name="hour_init" type="time" value="{{hour_init}}" class="form-control" >
          <button type="button" (click)="getHourEnd()"> Hora de finalizacion</button>
            <input [(ngModel)]="horario.hour_end"  name="hour_end" type="time" value="{{hour_end}}" class="form-control" >
          <div class="form-group">
            <div class="text-center">
              <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary puntero">Guardar Cambios</button>
              <button [routerLink]="['/horarios']" class="btn btn-outline-danger puntero">Volver</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>