<div class="page-title">
  <h4 class="text-center">Nuevo horario</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-box">
        <form (ngSubmit)="createHorario(horario,selectedHs)" #forma="ngForm">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="horario.course_id" name="course_id" type="hidden">
          </div>
          <div class="form-group">
            <select class="custom-select form-control" [(ngModel)]="horario.subject_id" name="subject_id" required>
              <option [ngValue]="undefined" disabled  selected> Seleccione materia </option>
              <option *ngFor="let  materia of materias" value= {{materia.id}}>
                 {{materia.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <select class="custom-select form-control" [(ngModel)]="horario.classroom_id" name="classroom_id" required>
              <option [ngValue]="undefined" disabled  selected>Seleccione aula</option>
              <option *ngFor="let  aula of aulas" value= {{aula.id}}>
                 {{aula.description}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <select class="custom-select form-control" [(ngModel)]="horario.day" name="day" required >
              <option [ngValue]="undefined" disabled  selected> Seleccione día </option>
              <option value="Lunes">Lunes</option>
              <option value="Martes">Martes</option>
              <option value="Miercoles">Miercoles</option>
              <option value="Jueves">Jueves</option>
              <option value="Viernes">Viernes</option>
            </select>
          </div>
          <br>
          <div class="form-group" required>
            <ng-multiselect-dropdown
              name="selectedHs"
              [placeholder]="'Seleccione una hora/s'"
              [data]="timetables"
              [(ngModel)]="selectedHs"
              [settings]="dropdownSettings"
            >
            </ng-multiselect-dropdown>
          </div>
          <app-calendar (valueChange)='saveDaysSelected($event)'></app-calendar>
          <div class="form-group">
            <div class="text-center">
              <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary puntero">Guardar Cambios</button>
              <span class="separator"></span>
              <button [routerLink]="['/horarios']" class="btn btn-outline-danger puntero">Volver</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3">
      <div class="daysSelected" *ngIf="formatedDays.length > 0">
        <h5>Días seleccionados</h5>
        <div class="content">        
          <div *ngFor="let  day of formatedDays">
            <p>{{day}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>