<div class="page-title">
  <h4 class="text-center">Nueva hora</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-box">
        <div *ngIf="formError" class="alert alert-danger">
          <div *ngFor="let error of errorData">
            <strong>{{ error }}</strong>
          </div>
        </div>
        <div *ngIf="horaSaved" class="alert alert-success">
          <strong>Se han guardado las horas correctamente.</strong>
        </div>
        <form (ngSubmit)="createTimetable(timetable)" #forma="ngForm">
          <br>
          <button class="btn btn-outline-primary" type="button" (click)="getHourInit()"> Hora de inicio</button>
            <input [(ngModel)]="timetable.hour_init"  name="hour_init" type="time" class="form-control" required>
          <br>
          <button class="btn btn-outline-primary" type="button" (click)="getHourEnd()"> Hora de finalizacion</button>
            <input [(ngModel)]="timetable.hour_end"  name="hour_end" type="time" class="form-control" required >
          <br>
          <div class="form-group">
            <div class="text-center">
              <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary puntero">Guardar Cambios</button>
              <span class="separator"></span>
              <button [routerLink]="['/horarios']" class="btn btn-outline-danger puntero">Volver</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>