<div class="page-title">
  <h4 class="text-center">Nueva comisión</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-box">
        <form (ngSubmit)="createComision(comision)" #forma="ngForm">
          <br>
          <div class="form-group">
            <select class="custom-select form-control" [(ngModel)]="comision.grade_id" name="grade_id" >
              <option *ngFor="let nivel of niveles" value= {{nivel.id}}>
                 {{nivel.level}} : {{ nivel.school_year.year}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for=""></label>
            <input  [(ngModel)]="comision.name" name="name" type="text" class="form-control" placeholder="Nombre" required>
          </div>
          <br>
          <div class="form-group">
            <div class="text-center">
              <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary puntero">Guardar Cambios</button>
              <button [routerLink]="['/comisiones']" class="btn btn-outline-danger puntero">Volver</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>