<div class="page-title">
  <h4 class="text-center">Nuevo Ciclo lectivo</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-box">
        <div *ngIf="formError" class="alert alert-danger">
          <div *ngFor="let error of errorData">
            <strong>{{ error }}</strong>
          </div>
        </div>
        <div *ngIf="anioSaved" class="alert alert-success">
          <strong>Se ha guardado el ciclo lectivo correctamente.</strong>
        </div>
        <form (ngSubmit)="createCl(cl)" #forma="ngForm">
          <div class="form-group">
            <input  [(ngModel)]="cl.year" name="year" type="text" class="form-control" placeholder="Año" required>
          </div>
          <div class="form-group">
            <div class="text-center">      
              <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary puntero">Guardar Cambios</button>
              <span class="separator"></span>
              <button [routerLink]="['/ciclos-lectivos']" class="btn btn-outline-danger puntero">Volver</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
