<div class="page-title">
  <h4 class="text-center">Cargar excepción</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 container_main">
      <mat-vertical-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
          <form class = "tp-form" [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Seleccione comisión</ng-template>
            <mat-form-field class = "tp-full-width">
              <input type="text" placeholder="Comisiones" aria-label="Number" matInput [matAutocomplete]="autoCom" formControlName="comControl" required>
              <mat-autocomplete #autoCom = "matAutocomplete">
                <mat-option *ngFor = "let option of filteredOptions | async" [value] = "option">
                   {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext type="button" class="btn btn-outline-primary">Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
          <form class = "tp-form" [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Seleccione una materia</ng-template>
            <mat-form-field class = "tp-full-width">
              <input type="text" placeholder="Materias" aria-label="Number" matInput formControlName="matControl" [matAutocomplete]="autoMat" required>
              <mat-autocomplete #autoMat = "matAutocomplete">
                <mat-option *ngFor = "let option of filteredOptionsMat | async" [value] = "option">
                   {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div>
              <!-- <button mat-button matStepperPrevious>Back</button> -->
              <button mat-button matStepperNext type="button" class="btn btn-outline-primary">Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
          <form class = "tp-form" [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Seleccione el día</ng-template>
            <mat-form-field class = "tp-full-width">
              <input matInput [matDatepicker]="dp" placeholder="Fecha"  formControlName="dayControl" required>
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
            <div>
              <!-- <button mat-button matStepperPrevious>Back</button> -->
              <button mat-button matStepperNext type="button" class="btn btn-outline-primary">Siguiente</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Finalizar</ng-template>
          <button mat-button (click)="refreshForms(); stepper.reset()" type="button" class="btn btn-outline-primary resetBtn">Finalizar</button>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>